.App {
  font-family: sans-serif;
  text-align: center;
}

.container-wrapper {
  border: 1px solid #b3b3b2;
  border-radius: 10px;
  padding: 40px 70px 70px 70px;
  width: 800px;
  min-height: 300px;
  margin: auto;
}

input[type="text"] {
  background-repeat: no-repeat;
  background-position: 6px;
  border: 1px solid #dadada;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  width: 310px;
  height: 30px;
  font-size: 14px;
}

.section {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  background-color: #f2f3f5;
  padding: 15px 20px;
}

.column {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  line-height: 50px;
}

.left-align {
  align-items: flex-start;
}

div.left-align > span {
  margin-bottom: 6px;
}

.right-align {
  align-items: flex-end;
  min-width: 150px;
}

div.right-align > span {
  margin-bottom: 10px;
}

.btn {
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 30px 10px 0px 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  color: black;
}

.submit {
  border: 2px solid #008cba;
  background-color: white;
}

.submit:hover {
  background-color: #008cba;
  color: white;
}

.cancel {
  border: 2px solid #f44336;
  background-color: white;
}

.cancel:hover {
  background-color: #f44336;
  color: white;
}

.link {
  color: black;
  font-weight: normal;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
  font-size: 15px;
  border: 2px solid #008cba;
  transition-duration: 0.4s;
  cursor: pointer;
  white-space: nowrap;
  margin: 20px 5px;
}

.link:hover {
  background-color: #008cba;
  color: white;
}

.btn-search {
  background-repeat: no-repeat;
  background-position: 6px;
  border: 1px solid #dadada;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  width: 80px;
  height: 35px;
  font-size: 14px;
}

select {
  background-repeat: no-repeat;
  background-position: 6px;
  border: 1px solid #dadada;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  width: 120px;
  height: 35px;
  font-size: 14px;
}
